@font-face {
    font-family: 'Calibri';
    src: url('calibrib-webfont.eot');
    src: url('calibrib-webfont.eot') format('embedded-opentype'),
         url('calibrib-webfont.woff') format('woff'),
         url('calibrib-webfont.ttf') format('truetype'),
         url('calibrib-webfont.svg#CalibriBold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Calibri';
    src: url('calibri-webfont.eot');
    src: url('calibri-webfont.eot') format('embedded-opentype'),
         url('calibri-webfont.woff') format('woff'),
         url('calibri-webfont.ttf') format('truetype'),
         url('calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Calibri';
    src: url('calibriz-webfont.eot');
    src: url('calibriz-webfont.eot') format('embedded-opentype'),
         url('calibriz-webfont.woff') format('woff'),
         url('calibriz-webfont.ttf') format('truetype'),
         url('calibriz-webfont.svg#CalibriBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Calibri';
    src: url('calibrii-webfont.eot');
    src: url('calibrii-webfont.eot') format('embedded-opentype'),
         url('calibrii-webfont.woff') format('woff'),
         url('calibrii-webfont.ttf') format('truetype'),
         url('calibrii-webfont.svg#CalibriItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'FuturaGR';
    src: url('futurabt_boldcondenseditalic-webfont.eot');
    src: url('futurabt_boldcondenseditalic-webfont.eot') format('embedded-opentype'),
         url('futurabt_boldcondenseditalic-webfont.woff') format('woff'),
         url('futurabt_boldcondenseditalic-webfont.ttf') format('truetype'),
         url('futurabt_boldcondenseditalic-webfont.svg#FuturaBdCnBTBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RopaSans';
    src: url('RopaSans-Regular-webfont.eot');
    src: url('RopaSans-Regular-webfont.eot') format('embedded-opentype'),
         url('RopaSans-Regular-webfont.woff') format('woff'),
         url('RopaSans-Regular-webfont.ttf') format('truetype'),
         url('RopaSans-Regular-webfont.svg#RopaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RopaSans';
    src: url('RopaSans-Italic-webfont.eot');
    src: url('RopaSans-Italic-webfont.eot') format('embedded-opentype'),
         url('RopaSans-Italic-webfont.woff') format('woff'),
         url('RopaSans-Italic-webfont.ttf') format('truetype'),
         url('RopaSans-Italic-webfont.svg#RopaSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
