<section class="cont">
    <div class="col">
        <div class="homecal">
            <div class="titulo"><span class="gr">BIENVENIDO</span>A LA SECCI&Oacute;N DE <br/><span class="gr">CLIENTES CORPORATIVOS</span></div>
            <div class="frase">INGRESANDO A LA SECCI&Oacute;N DE CLIENTES CORPORATIVOS, <br/>USTED OBTENDR&Aacute; LOS SIGUIENTES BENEFICIOS</div>
            <div class="beneficios">
                <div class="bene benef-1"><strong>Acceso al informe Mensual de Consumos.</strong> Incluye estad&iacute;sticas de sus compras a nivel nacional; por familias de productos y por sucursal de atenci&oacute;n.</div>
                <div class="linea"></div>
                <div class="bene benef-2"><strong>Acceso al Status de las &Oacute;rdenes de Compra</strong> entregadas en un per&iacute;odo de tiempo. Esta informaci&oacute;n contiene la fotograf&iacute;a del d&iacute;a que se gener&oacute; el reporte y no necesariamente muestra el estado de las mismas al momento de hacer la consulta</div>
                <div class="linea"></div>
                <div class="bene benef-3"><strong>Acceso al cat&aacute;logo</strong> con informaci&oacute;n t&eacute;cnica de los productos</div>
            </div>
            <div class="acceso-clientes">
                  <?php if(!Session::get('autenticado')): ?>
                <h2>ACCEDER AL PORTAL DE CLIENTES</h2>
                <form name="form1" method="post" action="" class="logeo">
                    <input type="hidden" value="1" name="enviar" />
                <div class="acc row"><label>Usuario:</label><input class="txt-entrada" name="usuario" type="text" value="<?php if(isset($this->datos)) echo $this->datos['usuario']; ?>"><div class="clear"></div></div>
                <div class="acc row"><label>Password:</label><input class="txt-entrada" name="pass" type="password"><div class="clear"></div></div>
                <div class="row acc-btn">
                    <div class="btn-entrar"><input type="submit"  value="enviar"></div>

                    <div class="clear"></div>
                </div>
                </form>
            <?php endif; ?>
            <div class="clear"></div>

            </div>
            <div class="clear"></div>
        </div>
        <div class="texto-bajada">Para hacer uso de esta Secci&oacute;n deber&aacute; mantener con nosotros un Contrato Formal vigente de Adquisici&oacute;n de Productos de Seguridad Industrial. <br/> Si actualmente no tiene un contrato con nosotros y desea acceder a esta secci&oacute;n, le invitamos a cont&aacute;ctarnos a trav&eacute;s de su ejecutivo de cuenta asignado</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
