@charset "utf-8";
/* *****************************************************************
   DEFAULT STYLES
   Proyect Author: 4Sale - http://www.4sale.cl
****************************************************************** */
* {
	margin: 0px;
	padding: 0px;
	border: none;   
	outline: none;
	text-decoration: none;
	list-style: none;
}
.clearfix, .clear {
	clear: both;
	width: 100%;
	height: 1px;
}
.row {
	display: block;
	clear: both;
	width: 100%;
}
.hidden {
	display: none;
}
.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.alignleft {
	display: block;
	float: left;
}
.alignright {
	display: block;
	float: right;
}
.radius-4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.radius-6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.radius-8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.radius-10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.radius-12 {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
strong {
	font-weight: bold;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
}
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover {
}
body {
}
img {
}
p {
    margin-bottom: 15px;
}
small {
}
pre {
}
em {
}
address {
}
dir {
}
h1 {
}
h2 {
    font-size: 16px;
    font-family: 'RopaSans', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
blockquote {
}
ol {
}
ul {
}
li {
}
dl {
}
dd {
}
dt {
}
table {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
tr {
}
td {
    border: 1px solid #000;
padding: 10px;
}

td a{
    background-color: #000;
padding: 3px 10px;
color: yellow;
}
caption {
}
th {
}
tt {
}
thead {
}
tfoot {
}
input {
    padding: 5px;
    border: 1px solid #000;
}

input[type="submit"]{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    color: #FFF001;
    padding: 3px 10px;
    cursor: pointer;
    font-family: 'RopaSans', Arial, Helvetica, sans-serif;
}

textarea {
}
select {
	border: #000 1px solid;
margin-right: 5px;
}
label {
    width: 160px;
    display: block;
    float: left;
    font-size: 14px;
    font-family: 'RopaSans', Arial, Helvetica, sans-serif;
}

form{
margin-top: 15px;
width: 650px;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px;
}

p a{
background-color: #000;
color: #f5e600;
padding: 3px 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
