@charset "utf-8";
/* *****************************************************************
   INTERNET EXPLORER 7 STYLES
   Proyect Author: 4Sale - http://www.4sale.cl
****************************************************************** */
header #titulo .text-grande {font-size: 30px;}
header #titulo {width: 600px;}
section.cont .homecal .titulo {font-size: 20px;}
section.cont .homecal .acceso-clientes h2 {font-size: 16px;}