@charset "utf-8";
/* *****************************************************************
   Project Name: Portal de CLIENTES CORPORATIVOS
   Version: 1.0 | 20121227
   Author: 4Sale  
   Producer: LinkReloaded.net
****************************************************************** */
body {
	/* [disabled]background-image: url(../../MAT/clientes01_home.jpg);
*/
	background-position: center top;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.col {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
header {
	height: 120px;
	width: 100%;
	background-image: url(../img/fnd_header.jpg);
	background-repeat: repeat-x;
}
header .col {
	height: 120px;
}
header #logo-garmendia {
	height: 62px;
	width: 237px;
	margin-top: 15px;
	margin-left: 25px;
	position: absolute;
}
header #titulo {
	height: 35px;
	width: 450px;
	margin-top: 93px;
	margin-left: 30px;
	position: absolute;
	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #FFF001;
}
header #titulo .text-chico {
	font-size: 20px;
}
header #titulo .text-grande {
	font-size: 30px;
}
header #foto_usuario  {
	position: absolute;
	z-index: 15;
	margin-top: 10px;
	margin-left: 390px;
	width:50px;
	height:50px;
}
header #foto_usuario img {
	display: block;
	max-width: 120px;
	max-height:50px;
	float: right;
	border: 1px solid #999;
}
header .menu {
	height: 35px;
	width: 530px;
	margin-top: 88px;
	position: absolute;
	margin-left: 450px;
}
header .menu a {
	display: block;
	float: right;
	background-color: #211915;
	text-align: center;
	height: 20px;
	padding-top: 10px;
	padding-right: 25px;
	padding-left: 25px;
	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #8d8f8e;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-right: 5px;
	padding-bottom: 2px;
}
header .menu a:hover, header .menu a.current {
	background-color: #FFF001;
	color: #000;
}
header .pedido {
	width: 180px;
	margin-top: 10px;
	margin-left: 800px;
	position: absolute;
	/* [disabled]background-image: url(../img/fndt-seleccionarpedido.png); */
	background-repeat: no-repeat;
	padding-top: 0px;
	overflow: hidden;
	font-weight: bold;
	color: #FFF;
	text-align: right;
}
header .pedido form {
	margin-top: 5px;
}
header .pedido select {
	display: block;
	padding: 3px;
	float: left;
	margin-right: 10px;
}
header .bienvenido {
	width: 320px;
	margin-top: 10px;
	margin-left: 450px;
	position: absolute;
	background-image: url(../img/fndt-bienvenido.png);
	background-repeat: no-repeat;
	padding-top: 20px;
}
header .bienvenido ul {
	display: block;
	width: 100%;
}
header .bienvenido ul li {
	float: left;
	color: #FFF;
	background-image: url(../img/bullet_amarillo.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 10px;
	display: block;
	margin-right: 10px;
	margin-bottom: 5px;
}
header .btn-cerrar {
	height: 17px;
	width: 98px;
	position: absolute;
	margin-top: 10px;
	margin-left: 650px;
}
#index .new-busq {
	background-color: #FFF001;
	width: 100%;
	padding-top: 20px;
}
#index .new-busq .cont-form-busq {
	background-color: #FFF;
	margin-bottom: 20px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
#index .new-busq .cont-form-busq .selector {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding-bottom: 5px;
}
#index .new-busq .cont-form-busq .selector ul {
	display: block;
	width: 100%;
}
#index .new-busq .cont-form-busq .selector ul li {
	display: block;
	float: right;
	margin-left: 10px;
}
#index .new-busq .cont-form-busq .selector ul li a {
	color: #DCDBD9;
	font-size: 13px;
	font-weight: normal;
	background-color: #000;
	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-style: normal;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#index .new-busq .cont-form-busq .selector ul li a.seleccionado , #index .new-busq .cont-form-busq .selector ul li a:hover{
	color: #000000;
	background-color: #FFF001;
}
#index .new-busq .cont-form-busq .form-cont {
	clear: both;
	padding-top: 15px;
}
#index .new-busq .cont-form-busq .form-cont .btn_buscar {
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 15px;
}

#index .new-busq .cont-form-busq .form-cont .mod-simple {
	padding: 15px;
}
#index .new-busq .cont-form-busq .form-cont .mod-simple ul {
	display: block;
}
#index .new-busq .cont-form-busq .form-cont .mod-simple ul li {
	display: block;
	float: left;
	width: 300px;
	padding-left: 50px;
}
#index .new-busq .cont-form-busq .form-cont .mod-simple ul li select {
	padding: 3px;
	border: 1px solid #CCC;
}
#index .new-busq .cont-form-busq .form-cont .mod-simple ul li label {
	display: block;
	float: left;
	padding-top: 5px;
	width: 120px;
}




#index .new-busq .cont-form-busq .form-cont .mod-avanzado {
	padding-top: 15px;
	padding-right: 80px;
	padding-bottom: 15px;
	padding-left: 80px;
}
#index .new-busq .cont-form-busq .form-cont .mod-avanzado  label {
	display: block;
	width: 330px;
	padding: 10px;
}
#index .new-busq .cont-form-busq .form-cont .mod-avanzado  .panel-selec {
	height: 150px;
	width: 340px;
	overflow: auto;
	display: block;
	clear: both;
	padding: 5px;
	border: 1px solid #CCC;
}
#index .new-busq .cont-form-busq .form-cont .mod-avanzado .panel-selec li  {
	display: block;
	clear: both;
	height: 35px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
#index .new-busq .cont-form-busq .form-cont .mod-avanzado  .panel-selec li label {
	width: 310px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
}




#index .new-busq .cont-form-busq .form-cont .mod-avanzado .col-ruts,
#index .new-busq .cont-form-busq .form-cont .mod-avanzado .col-fechas {
	float: left;
	width: 350px;
	margin-right: 40px;
}













section.cont {
	background-image: url(../img/fnd_hor_int.jpg);
	background-color: #FFF;
	padding-top: 50px;
}
#index section.cont {
	background-image: url(../img/fnd_hor_int.jpg);
	background-color: #FFF;
	padding-top: 40px;
	padding-left: 45px;
	background-image: url(../img/fnd_hor_int.jpg);
}
section.cont .bloque {
	background-color: #FFF;
	width: 890px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #bdbdbe;
	-webkit-box-shadow: 0px 0px 1px 1px #bdbdbe;
	box-shadow: 0px 0px 1px 1px #bdbdbe;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	min-height: 450px;
}
section.cont .bloque header {
	background-image: url(../img/fnd_titulo.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 421px;
	position: absolute;
	margin-top: -45px;
	margin-left: -30px;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	padding-top: 4px;
}
section.cont .bloque .fecha-informe {
	margin-bottom: 10px;
	text-align: right;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
section.cont .bloque .tabla-status-cont {
	clear: both;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
section.cont .bloque .tabla-status-cont table th {
	padding: 10px;
	text-align: center;
	border: 1px solid #FFF;
}
section.cont .bloque .tabla-status-cont table td {
	padding: 5px;
	text-align: center;
	border: 1px solid #FFF;
}
section.cont .bloque .tabla-status-cont table .fnd_amh {
	background-color: #FEEE00;
}
section.cont .bloque .tabla-status-cont table .fnd_am1 {
	background-color: #fffccc;
}
section.cont .bloque .tabla-status-cont table .fnd_am2 {
	background-color: #fffab2;
}
section.cont .bloque .tabla-status-cont table .fnd_ngr {
	color: #FFF;
	background-color: #211915;
}
section.cont .bloque .tabla-status-cont table .fnd_gr1 {
	background-color: #e3e3e3;
}
section.cont .bloque .tabla-status-cont table .fnd_gr2 {
	background-color: #d5d5d5;
}
section.cont .bloque .btn-imprimir {
	padding-top: 15px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
section.cont .bloque .btn-imprimir .btn_p {
	background-image: url(../img/ic_impresora.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #FEEE00;
	padding-left: 15px;
	display: block;
	width: 100px;
	text-align: center;
	padding-top: 5px;
	float: right;
	height: 20px;	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
}
section.cont .bloque .grafico {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
section.cont .bloque .menu-lat {
	background-image: url(../img/fnd_menu-lateral.jpg);
	background-repeat: no-repeat;
	width: 220px;
	height: 440px;
	float: left;
	margin-right: 30px;
	padding-top: 10px;
}
section.cont .bloque .menu-lat ul {
	display: block;
	clear: both;
	width: 100%;
}
section.cont .bloque .menu-lat ul li {
	display: block;
	clear: both;
}
section.cont .bloque .menu-lat ul li a {
	background-image: url(../img/bullet_amarillo_lateral.png);
	background-repeat: no-repeat;
	background-position: 10px 14px;
	display: block;
	background-color: #000;
	padding-left: 20px;
	margin-bottom: 2px;
	padding-top: 10px;
	height: 20px;
	color: #FEEE00;
}
section.cont .bloque .menu-lat ul li a:hover {
	color: #FFFFFF;
	background-color: #333;
}
section.cont .bloque .colppal {
	float: right;
	width: 640px;
}
section.cont .bloque .colppal .btn-volver {
	position: absolute;
	height: 25px;
	width: 70px;
	margin-top: 0px;
	margin-left: 550px;
}
section.cont .bloque .colppal .btn-volver a {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	width: 60px;
	display: block;
	text-align: center;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
section.cont .bloque .colppal .btn-volver a:hover {
	background-color: #FFF001;
	color: #000;
}
section.cont .bloque .colppal .breadcrumb {
	width: 530px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	float: left;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}
section.cont .bloque .colppal .breadcrumb a {
	color: #000;
}
section.cont .bloque .colppal .breadcrumb a:hover {
	color: #000;
	text-decoration: underline;
}
section.cont .bloque .colppal ul {
	display: block;
	width: 510px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
section.cont .bloque .colppal .producto {
	float: left;
	width: 148px;
	margin-right: 20px;
	height: 185px;
	margin-bottom: 35px;
	display: block;
}
section.cont .bloque .colppal .producto img {
	height: 98px;
	width: 148px;
	border: 1px solid #a4a4a3;
	display: block;
}
section.cont .bloque .colppal .producto h2 {
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 5px;
	margin-bottom: 15px;
	color: #585b5d;
	height: 53px;
}
section.cont .bloque .colppal .producto .btn {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	padding: 5px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	width: 80px;
}
section.cont .bloque .colppal .producto .btn:hover {
	color: #000;
	background-color: #FFF001;
}
section.cont .bloque .colppal .titulo-prod {
	clear: both;
	width: 475px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
section.cont .bloque .colppal .titulo-prod h1 {
	float: left;
	display: block;
	font-size: 19px;
	font-style: normal;
	font-weight: bold;
	width: 300px;
}
section.cont .bloque .colppal .titulo-prod .otros-datos {
	float: right;
	width: 160px;
	font-size: 11px;
}
section.cont .bloque .colppal .titulo-prod .otros-datos .sku {
	text-align: left;
	margin-bottom: 3px;
}
section.cont .bloque .colppal .foto-prod {
	width: 475px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-bottom: 10px;
}
section.cont .bloque .colppal .foto-prod .marca {
	height: 64px;
	width: 100px;
	margin-top: 5px;
	margin-left: 365px;
	position: absolute;
}
section.cont .bloque .colppal .foto-prod .marca img {
	border: 1px solid #f6f6f6;
}
section.cont .bloque .colppal .foto-prod img {
	border: 1px solid #a4a4a3;
}
section.cont .bloque .colppal .barra-ppal {
	background-color: #37393a;
	width: 435px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 15px;
}
section.cont .bloque .colppal .barra-ppal .btn-ver {
	background-color: #FFF001;
	display: block;
	float: left;
	margin-right: 20px;
	padding: 5px;	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}
section.cont .bloque .colppal .barra-ppal .btn-imp {
	display: block;
	float: left;
	background-color: #b1bfc6;
	margin-right: 10px;
	background-image: url(../img/ic_impresora_negra.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 30px;	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}
section.cont .bloque .colppal .barra-ppal .btn-fich {
	display: block;
	float: left;
	background-color: #b1bfc6;	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #000;
	background-image: url(../img/ic_descargo.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
}
section.cont .bloque .colppal .barra-ppal a:hover {
	color: #FFF;
	background-color: #000;
	background-image: none;
}
section.cont .bloque .colppal .dgral {
	width: 475px;
	margin-right: auto;
	margin-left: auto;
}
section.cont .bloque .colppal .dgral h3 {
	display: block;
	border: 1px solid #bbbbbb;
	color: #000;
	font-family: 'RopaSans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	padding: 8px;
	margin-bottom: 10px;
}
section.cont .bloque .colppal .dgral p {
	display: block;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #999;
	line-height: 13px;
	margin-bottom: 10px;
}
section.cont .homecal {
	background-image: url(../img/fnd_home.png);
	background-repeat: no-repeat;
	height: 503px;
	width: 940px;
}
section.cont .homecal .titulo {
	width: 550px;
	position: absolute;
	margin-top: 50px;
	margin-left: 0px;	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}
section.cont .homecal .titulo .gr {
	font-size: 44px;
}
section.cont .homecal .frase {
	height: 50px;
	width: 400px;
	position: absolute;
	margin-top: 220px;
	margin-left: 10px;
	color: #FEEE00;
	text-align: center;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
}
section.cont .homecal .acceso-clientes {
	height: 137px;
	width: 328px;
	position: absolute;
	margin-top: 310px;
	margin-left: 550px;
	background-image: url(../img/fnd_acceso_clientes.png);
	background-repeat: no-repeat;
	padding: 15px;
}
section.cont .homecal .acceso-clientes h2 {	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 23px;
	font-style: italic;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
 margin-top:
}
section.cont .homecal .acceso-clientes .acc.row {
	margin-bottom: 5px;
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}
section.cont .homecal .acceso-clientes label {
	font-family: 'RopaSans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	display: block;
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-top: 3px;
}
section.cont .homecal .acceso-clientes .txt-entrada {
	display: block;
	padding: 2px;
	float: left;
	width: 120px;
	border: 1px solid #CCC;
}
section.cont .homecal .acceso-clientes .acc-btn {
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
	padding-left: 70px;
}
section.cont .homecal .acceso-clientes .acc-btn .btn-entrar {
	float: left;
	width: 100px;
}
section.cont .homecal .acceso-clientes .acc-btn .btn-entrar input {
	color: #FFF;
	background-color: #000;
	font-family: 'RopaSans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
}
section.cont .homecal .acceso-clientes .acc-btn .btn-rec {
	float: right;
	width: 80px;
	padding-top: 7px;
}
section.cont .homecal .acceso-clientes .acc-btn .btn-rec input {
	float: left;
	margin-right: 5px;
}
section.cont .homecal .acceso-clientes .acc-btn .btn-rec label {
	float: left;
	display: block;
	font-size: 11px;
	width: 50px;
	padding: 0px;
}
section.cont .homecal .acceso-clientes .acc-contr {
	text-align: center;
	padding-top: 5px;
	font-size: 11px;
	padding-left: 10px;
	width: 335px;
}
section.cont .homecal .acceso-clientes .acc-contr a {
	color: #000;
	text-decoration: underline;
	font-size: 11px;
}
section.cont .homecal .acceso-clientes .acc-contr a:hover {
	color: #000;
	font-size: 11px;
	text-decoration: none;
}
section.cont .homecal .beneficios {
	height: 180px;
	width: 520px;
	position: absolute;
	margin-top: 300px;
	margin-left: -15px;
}
section.cont .homecal .beneficios .bene {
	background-image: url(../img/ic_manito.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 52px;
	padding-left: 60px;
	font-family: Arial, Helvetica, sans-serif;
	color: #a2a3a3;
	width: 475px;
}
section.cont .homecal .beneficios .linea {
	background-image: url(../img/linea_sep_home.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-bottom: 15px;
	clear: both;
	height: 1px;
	width: 520px;
}
section.cont .homecal .beneficios .bene strong {
	color: #FFF;
}
section.cont .homecal .beneficios .bene.benef-1 {
	padding-top: 10px;
	height: 40px;
}
section.cont .homecal .beneficios .bene.benef-3 {
	padding-top: 15px;
	height: 30px;
}
section.cont .texto-bajada {
	padding: 10px;
	width: 920px;
	text-align: center;
	font-size: 11px;
	color: #666;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}
footer {
	clear: both;
	height: 90px;
	width: 100%;
	background-color: #DCDBD9;
	padding-top: 30px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 13px;
	font-weight: normal;
}
footer .logo-footer {
	float: left;
	height: 34px;
	width: 145px;
	margin-right: 25px;
	padding-top: 5px;
}
footer .direccion {
	float: left;
	padding-top: 10px;
}
footer .equipo {
	float: right;
	width: 300px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
footer .equipo h3 {	font-family: 'FuturaGR', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	display: block;
	margin-bottom: 5px;
}
.paginador {
	text-align: center;
	margin-top: 15px;
}
.paginador a {
	color: #999;
	
	border: 1px solid #999;
	padding:3px;
}
.paginador a:hover {
	color: #000;
	border: 1px solid #999;
	text-decoration: underline;
}
#index #error {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #FFF;
	height: 45px;
	width: 350px;
	position: absolute;
	background-image: url(../img/garmedia_footer.png);
	background-repeat: no-repeat;
	padding-top: 60px;
	padding-left: 20px;
	background-position: center 10px;
	font-family: 'Calibri4sale', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #999;
	text-align: center;
	margin-top: 200px;
	margin-left: -175px;
	left: 50%;
	z-index: 99999;
}
.secc-error{
	height: 500px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.secc-error h2{
	font-size: 16px;
}
.secc-error .botonera{
	background-color: #FFF;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 15px;
	text-align: center;
}
.secc-error .botonera a{
	font-family: 'Calibri4sale', Arial, Helvetica, sans-serif;
	color: #000;
}
.secc-error .botonera a:hover{
	text-decoration: underline;
}
