<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>AGREGAR USUARIOS AL RUT</header>
				<p><a href="<?php echo BASE_URL; ?>rut/lista">VOLVER</a></p>
				<div class="column_left">
					
					<p>ID RUT: <?php echo $this->rut['id']; ?></p>
					<p>RUT: <?php echo $this->rut['rut']; ?></p>
				</div>
				
				<div class="column_center">
					<form name="form1" method="post" action="" AUTOCOMPLETE="off">
						<input type="hidden" value="1" name="enviar"/>
						<p>
							<select id="usuarios" class="" name="usuarios">
							<option value="">SELECCIONAR USUARIO</option>
							<?php foreach ($this->rut_usuarios_disponibles as $usuarios){ ?>

							<option value="<?= $usuarios['id'] ?>"><?= $usuarios['nombre'] ?>-<?= $usuarios['usuario'] ?></option>

							<?php } ?>
							</select>
                    
							<input type="submit" value="ARGREGAR USUARIO"/>
						</p>
					</form>
				</div>
				<div class="column_center">
					<?php for ($i = 0; $i < count($this->rut_usuarios); $i++): ?>
						<table>
							<tr>
								<td width="150"><?php echo $this->rut_usuarios[$i]['nombre']; ?></td>
								<td width="150"><?php echo $this->rut_usuarios[$i]['usuario']; ?></td>
								<td><?php echo $this->rut_usuarios[$i]['email']; ?></td>
								<td width="50">
									<a href="<?php echo BASE_URL . 'rut/agregar/' . $this->rut['id'] . '/eliminar/' . $this->rut_usuarios[$i]['id']; ?>">Eliminar</a>
								</td>
							</tr>
						</table>
					<?php endfor; ?>
				</div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
<?php else: ?>
<?php endif; ?>