<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>CREAR RUT</header>
                <p><a href="<?php echo BASE_URL; ?>rut">VOLVER</a></p>

                <h2>CREAR RUT</h2>

                <form name="form1" method="post" action="" enctype="multipart/form-data" AUTOCOMPLETE="off">
                    <input type="hidden" value="1" name="enviar"/>

                    <p>
                        <label>AGREGAR RUT: </label>
                        <input type="text" name="rut"
                               value="<?php if (isset($this->datos)) echo $this->datos['rut']; ?>"/>
                    </p>

                    <p>
                        <input type="submit" value="ENVIAR"/>
                    </p>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </section>
<?php else: ?>


<?php endif; ?>
