<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>ADMINISTRADOR DE RUT</header>
				<div class="column_left">
					<p><a href="<?php echo BASE_URL; ?>rut/crear">CREAR RUT</a>
					<p><a href="<?php echo BASE_URL; ?>rut/lista">LISTAR RUT</a></p>
				</div>
				<div class="column_center">
					<p>Desde esta vista se puede administrar los rut del sistema, asignar usuarios a estos ruts o eliminarlos.</p>

				</div>
            </div>

        </div>
        <div class="clear"></div>
    </section>
<?php else: ?>


<?php endif; ?>