<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>LISTA DE RUT</header>
                <p><a href="<?php echo BASE_URL; ?>rut">VOLVER</a></p>
                <?php if (isset($this->ruts) && count($this->ruts)) : ?>
                    <table>
                        <tr>
                            <td>RUT</td>
                            <td>ELIMINAR</td>
                            <td>AGREGAR USUARIOS</td>
                        </tr>
                        <?php for ($i = 0; $i < count($this->ruts); $i++): ?>
                            <tr>
                                <td>
                                    <?php echo $this->ruts[$i]['rut']; ?>
                                </td>
                                <td>
                                    <a href="<?php echo BASE_URL . 'rut/eliminar/' . $this->ruts[$i]['id'].'/' ?>">ELIMINAR</a>
                                </td>
                                <td>
                                    <a href="<?php echo BASE_URL . 'rut/agregar/' . $this->ruts[$i]['id'].'/' ?>">AGREGAR USUARIOS</a>
                                </td>
                            </tr>
                        <?php endfor; ?>
                    </table>
                <?php else: ?>
                    <p><strong>No hay rut!</strong></p>
                <?php endif; ?>
                <p class="paginador">
                    <?php if (isset($this->paginacion)) echo $this->paginacion; ?>
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </section>
<?php else: ?>
<?php endif; ?>
