<?php if(isset($this->informe) && count($this->informe)) :?>

<?php else: ?>


<?php endif; ?>


<section class="cont">
    <div class="col">
        <?php 
		if(isset($this->informe) && count($this->informe)) :?>
        <div class="bloque">
            <header>Ranking de los Productos m&aacute;s Consumidos</header>
            <div class="grafico gr-1">
                <div class="grafico_a gr-1 "style="float: left;">
                <?php 
					//print_r($this->grafico_pie);
					//print_r($this->grafico_pie_opciones);
					
					echo  Chart::pie($this->grafico_pie,$this->grafico_pie_opciones,TRUE,TRUE);?>
                </div>
                <div class="grafico_b gr-1 " style="float: left;">
                <?php echo  Chart::bar($this->grafico_pie,$this->grafico_pie_opciones_bar,TRUE);?>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <?php else: ?>

        <p><strong>No hay grafico consumo!</strong></p>

        <?php endif; ?>

        <?php
	
		if(isset($this->grafico_lineas) && count($this->grafico_lineas)) :?>
        <div class="bloque">
            <header>Gr&aacute;fico comparativo de consumos por sucursal</header>
            <div class="grafico gr-2">
               <?php echo Chart::column($this->grafico_lineas,$this->grafico_lineas_opciones,TRUE); ?>
            </div>
            <div class="clear"></div>
        </div>
        <?php else: ?>

        <p><strong>No hay grafico consumo!</strong></p>

        <?php endif; ?>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
