<?php
function url_amigable($url) {

    $b = array("á","Á", "é","É", "í","Í", "ó","Ó", "ú","Ú", "ä", "ë", "ï", "ö", "ü", "à", "è", "ì", "ò", "ù", "ñ","Ñ", " ", ",", ".", ";", ":", "¡", "!", "¿", "?", '"');
    $c = array("a","A", "e","E", "i","I", "o","O", "u","U", "a", "e", "i", "o", "u", "a", "e", "i", "o", "u", "n","N", "-", "", "", "", "", "", "", "", "", '');

    $url = str_replace($b, $c, $url);

    return $url;
}
?>
<section class="cont">
    <div class="col">
        <div class="bloque">
            <header>Productos</header>
            <div class="menu-lat">
                <ul>
                    <?php
                    foreach ($this->arbol as $arbol){

                        echo '<li><a href="'.$this->base.'producto/productos/'.$this->rut[0].'/'.url_amigable($arbol['nokofm']).'  ">'.trim($arbol['nokofm']).'</a></li>';

                    }

                    ?>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="colppal">
                <div class="btn-volver"><a class="radius-4" href="javascript:history.back()">volver</a></div>
                <div class="breadcrumb">
                    <a href="#"><?=$this->productobyid['producto'][0]['catName']?></a>
                    <div class="clear"></div>
                </div>
                <div class="row titulo-prod">
                    <h1><?=$this->productobyid['producto'][0]['name']?></h1>
                    <div class="otros-datos">
                        <!--<div class="sku"><strong>SKU CLIENTE:</strong> 123456789</div>-->
                        <div class="sku"><strong>SKU PRODUCTO:</strong> <?=$this->productobyid['producto'][0]['reference']?></div>
                        <?php if(isset($this->ve_precio) && $this->ve_precio==true): ?>
                        <div class="precio"><strong>PRECIO:</strong> <?php echo floatval($this->productobyid['precio']['precio'])?>

						</div>
                        <?php endif; ?>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <figure class="foto-prod">
                    <!--<div class="marca"><img src="img/TEMP-marca.jpg" width="100" height="64"></div>-->
                    <?
                    $urlImg="";
                    if(!empty($this->productobyid['producto'][0]['url_image'])){
                        $urlImg="http://www.garmendia.cl/catalogo/".$this->productobyid['producto'][0]['url_image'];
                    }
                    ?>
                    <img src="<?=$urlImg?>" width="475" height="315">
                </figure>
                <?
                //Buscar características de los pdf
                $pdfCert="";
                $pdfFicha="";
                foreach($this->productobyid['caracteristicas'] as $caracteristica){
                    if(preg_match("/certificacion/i", $caracteristica['name'])){
//                        $pdfCert=$_SERVER['DOCUMENT_ROOT']."/clientes/"."public/certificaciones/".$caracteristica['value'].".pdf";
                        $pdfCert="public/certificaciones/".$caracteristica['value'].".pdf";
                    }
                    
                    if(preg_match("/ficha tecnica/i", $caracteristica['name'])){
                        $pdfFicha="public/ficha-tecnica/".$caracteristica['value'].".pdf";
                    }
                }
                ?>
                <div class="row barra-ppal">
                    <?
                    if(!empty($pdfCert) && file_exists($_SERVER['DOCUMENT_ROOT']."/clientes/".$pdfCert)){
                    ?>
                    <a href="<?=BASE_URL.$pdfCert?>" class="btn-ver radius-4">VER CERTIFICACI&Oacute;N</a>
                    <?
                    }
                    ?>
                    <a href="#" class="btn-imp radius-4" onclick="window.print();">IMPRIMIR FICHA</a>
                    <?
                    if(!empty($pdfFicha) && file_exists($_SERVER['DOCUMENT_ROOT']."/clientes/".$pdfFicha)){
                    ?>
                    <a href="<?=BASE_URL.$pdfFicha?>" class="btn-fich radius-4">DESCARGAR FICHA</a>
                    <?
                    }
                    ?>
                    <div class="clear"></div>
                </div>
                <div class="row dgral">
                    <h3>DESCRIPCI&Oacute;N</h3>
                    <p><?=$this->productobyid['producto'][0]['description']?></p>
                    
                    <?
                    //Características
                    foreach($this->productobyid['caracteristicas'] as $caracteristica){
                        ?>
                        <h3><?=$caracteristica['name']?></h3>
                         <p><?=$caracteristica['value']?></p>
                        <?
                    }
                    ?>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
