<?php
function url_amigable($url) {

    $b = array("á","Á", "é","É", "í","Í", "ó","Ó", "ú","Ú", "ä", "ë", "ï", "ö", "ü", "à", "è", "ì", "ò", "ù", "ñ","Ñ", " ", ",", ".", ";", ":", "¡", "!", "¿", "?", '"');
    $c = array("a","A", "e","E", "i","I", "o","O", "u","U", "a", "e", "i", "o", "u", "a", "e", "i", "o", "u", "n","N", "-", "", "", "", "", "", "", "", "", '');

    $url = str_replace($b, $c, $url);

    return $url;
}
?>
<section class="cont">
    <div class="col">
        <div class="bloque">
            <header>Productos</header>
            <div class="menu-lat">
                <ul>
                    <?php
                    foreach ($this->arbol as $arbol){

                        echo '<li><a href="'.$this->base.'producto/productos/'.$this->rut[0].'/'.url_amigable($arbol['nokofm']).'  ">'.trim($arbol['nokofm']).'</a></li>';

                    }

                    ?>
                </ul>
                <div class="clear"></div>
            </div>
            <?php if(isset($this->productosbycat) & !empty($this->productosbycat) ){ ?>
            <div class="colppal">
                <div class="breadcrumb">
                    <a><?= $this->tipo?></a>
                    <div class="clear"></div>
                </div>
                <ul class="row">
                    <?php foreach($this->productosbycat as $prod){ ?>
                    <li class="producto"><picture>
                        <?


                        $urlImg="";
                        if(!empty($prod['url_image'])){
                            $urlImg=$prod['url_image'];
                        }
                        ?>
                        <img src="http://www.garmendia.cl/catalogo/<?=$urlImg?>" width="148" height="98"></picture>
                        <h2><?=$prod['name']?></h2>
                        <a class="btn radius-4" href="<?=$this->base?>producto/ficha/<?=$this->rut[0]?>/<?=$prod['id_product']?>">seleccionar</a>
                        <div class="clear"></div>
                    </li>
                    <?php } ?>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
                <?php if(isset($this->paginacion)) echo $this->paginacion; ?>
            </div>
            <div class="clear"></div>

            <?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
