<section class="cont">
    <div class="secc-error">
		<h2><?php if($this->mensaje) echo $this->mensaje; ?></h2>
		<p>&nbsp;</p>
		<div class="botonera">
			<a href="<?php echo BASE_URL; ?>">Ir al Inicio</a> | 
			<a href="javascript:history.back(1)">Volver a la p&aacute;gina anterior</a>
			<?php if(!Session::get('autenticado')): ?>
			| <a href="<?php echo BASE_URL . 'index'; ?>">Iniciar Sesi&oacute;n</a>
			<?php endif; ?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</section>