<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>CARGADOR DE ORDENES</header>

                <form enctype="multipart/form-data" action="<?= BASE_URL ?>cargarordenes/informe" method="post">
                    <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                    <table width="600">
                        <tr>
                            <td>Cargar Ordenes en formato .xls :</td>
                            <td><input type="file" name="file" /></td>
                            <td><input type="submit" value="Upload" /></td>
                        </tr>
                    </table>
                </form>

                <?php if (isset($this->historico) && count($this->historico)) : ?>
                    <table>
                        <tr>
                            <td>ID</td>
                            <td>FECHA CARGA</td>
                            <td>NOMBRE ARCHIVO</td>
                            <td>ACCION</td>
                        </tr>
                        <?php for ($i = 0; $i < count($this->historico); $i++): ?>
                            <tr>
                                <td>
                                    <?php echo $this->historico[$i]['tipo']; ?>
                                </td>
                                <td>
                                    <?php echo $this->historico[$i]['fecha_carga']; ?>
                                </td>
                                <td>
                                    <?php echo $this->historico[$i]['nombre_archivo']; ?>
                                </td>
                                <td>
                                    <a href="<?php echo BASE_URL . 'cargarordenes/eliminar/' . $this->historico[$i]['id'].'/' ?>">ELIMINAR</a>
                                </td>

                            </tr>
                        <?php endfor; ?>
                    </table>
                    <p class="paginador">
                        <?php if (isset($this->paginacion)) echo $this->paginacion; ?>
                    </p>
                <?php else: ?>
                    <p><strong>No hay archivos cargados de ordenes!</strong></p>
                <?php endif; ?>



            </div>

        </div>
        <div class="clear"></div>
    </section>
<?php else: ?>


<?php endif; ?>


