<section class="cont">
    <div class="col">
        <?php if (isset($this->ordenes) && count($this->ordenes)) : ?>
            <div class="bloque">
                <header>Status Orden de Compra</header>
                <div class="row tabla-status-cont">
                    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="138" class="fnd_amh" scope="col">Sucursal</th>
                            <th width="139" class="fnd_am1" scope="col">Orden de Compra</th>
                            <th width="140" class="fnd_am2" scope="col">Emision</th>
                            <th width="182" class="fnd_am1" scope="col">Estado</th>
                            <th width="122" class="fnd_am2" scope="col">Datos Total</th>
                            <th width="126" class="fnd_am1" scope="col">Pendiente</th>
                        </tr>
                        <?
                        foreach ($this->ordenes as $ordenes) {
                            echo '<tr><td  class="fnd_ngr" >' . $ordenes['sucentidad'] . '</td><td class="fnd_gr1">' . $ordenes['ordencomp'] . '</td><td class="fnd_gr2">' . $ordenes['emision'] . '</td><td class="fnd_gr1">' . $ordenes['estado'] . '</td><td class="fnd_gr2">' . $ordenes['total'] . '</td><td class="fnd_gr1">' . $ordenes['totald'] . '</td></tr>';
                        }
                        ?>
                    </table>
                    <div class="clear"></div>
                </div>
                <div class="row btn-imprimir">
                    <a href="javascript:window.print()" class="btn_p">IMPRIMIR</a>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        <?php else: ?>
        <?php endif; ?>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
