<!--
<script>
    $(document).ready(function() {

        var MaxInputs       = 8; //maximum input boxes allowed
        var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
        var AddButton       = $("#AddMoreFileBox"); //Add button ID

        var x = InputsWrapper.length; //initlal text box count
        var FieldCount=1; //to keep track of text box added

        $(AddButton).click(function (e)  //on add input button click
        {
            if(x <= MaxInputs) //max input box allowed
            {
                FieldCount++; //text box added increment
                //add input box
                $(InputsWrapper).append('<div><input type="text" name="rut[]" id="field_'+ FieldCount +'" value=""/><a href="#" class="removeclass">&times;</a></div>');
                x++; //text box increment
            }
            return false;
        });

        $("body").on("click",".removeclass", function(e){ //user click on remove text
            if( x > 1 ) {
                $(this).parent('div').remove(); //remove text box
                x--; //decrement textbox
            }
            return false;
        })

    });
</script>
            <p id="AddMoreFileBox">
                <a href="#"  class="btn btn-info">Agregar Mas RUT</a>
            </p>
            <div id="InputsWrapper">
                <div><input type="text" name="rut[]" id="field_1" value=""/><a href="#" class="removeclass">&times;</a></div>
            </div>
-->
<?php if(Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>CREAR USUARIO</header>
                <p><a href="<?php echo BASE_URL; ?>usuario/">VOLVER</a></p>

        <form name="form1" method="post" action="" enctype="multipart/form-data" AUTOCOMPLETE="off">
            <input type="hidden" value="1" name="enviar" />
            <p>
                <label>Nombre: </label>
                <input type="text" name="nombre" value="<?php if(isset($this->datos)) echo $this->datos['nombre']; ?>" />
            </p>
            <p>
                <label>Usuario: </label>
                <input type="text" name="usuario" value="<?php if(isset($this->datos)) echo $this->datos['usuario']; ?>" />
            </p>

            <p>
                <label>Email: </label>
                <input type="text" name="email" value="<?php if(isset($this->datos)) echo $this->datos['email']; ?>" />
            </p>
            <p>
                <label>Password: </label>
                <input type="password" name="pass" />
            </p>
            <p>
                <label>Confirmar: </label>
                <input type="password" name="confirmar" />
            </p>
            <p>
            <label>Imagen</label>
                <input id="uploadImage" name="uploadImage" type="file" />

            </p>
			<br />
			<br />
            <p>
                <label style="font-size: 16px; text-decoration: underline;">Permisos</label>
            <div class="clearfix"></div>
            <br />
            <p>
                <input type="checkbox" name="ve_informe" value="1" <?php if (isset($this->datos['ve_informe']) && $this->datos['ve_informe']==1 ) echo "checked"; ?>> Permiso para ver Informe<br>
            </p>
            <p>
                <input type="checkbox" name="ve_paleta" value="1" <?php if (isset($this->datos['ve_paleta']) && $this->datos['ve_paleta']==1)  echo "checked"; ?>> Permiso para ver Paleta<br>
            </p>
            <p>
                <input type="checkbox" name="ve_orden" value="1" <?php if (isset($this->datos['ve_orden']) && $this->datos['ve_orden']==1) echo "checked"; ?>> Permiso para ver Orden<br>
            </p>
            <p>
                <input type="checkbox" name="ve_precio" value="1" <?php if (isset($this->datos['ve_precio']) && $this->datos['ve_precio']==1) echo "checked"; ?>> Permiso para ver Precio<br>
            </p>
            <p>
                <input type="hidden" name="rol" value="1"/>
            </p>
            <p>
                <input type="submit" value="ENVIAR" />
            </p>
        </form>

        <div class="clear"></div>
            </div>
        </div>
    </section>
<?php else: ?>


<?php endif; ?>
