<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>EDITAR USUARIO</header>
                <p><a href="<?php echo BASE_URL; ?>usuario/lista">VOLVER</a></p>
				<div class="column_left"></div>
				<div class="column_center">
                <form name="form1" method="post" action="" enctype="multipart/form-data" AUTOCOMPLETE="off">
                    <input type="hidden" value="1" name="guardar"/>
					
                    <p>
                        <label>Nombre: </label>
                        <input type="text" name="nombre"
                               value="<?php if (isset($this->datos)) echo $this->datos['nombre']; ?>"/>
                    </p>

                    <p>
                        <label>Usuario: </label>
                        <input type="text" name="usuario"
                               value="<?php if (isset($this->datos)) echo $this->datos['usuario']; ?>"/>
                    </p>

                    <p>
                        <label>Email: </label>
                        <input type="text" name="email"
                               value="<?php if (isset($this->datos)) echo $this->datos['email']; ?>"/>
                    </p>
                    <? 
					if(strlen($this->datos['logo']>0)){
					?>
                    <p>
                        <label>Imagen Actual</label>
                    <div id="foto_usuario">
                        <?php
                        //TODO: Cambiar sistema de logos.
                        //if(strlen($this->datos['logo']>0)){
						if (file_exists($_SERVER['DOCUMENT_ROOT'] . '/clientes/views/layout/default/img/' . 'logos/' . $this->datos['logo'])) {
                            echo '<img src="' . $_layoutParams['ruta_img'] . 'logos/' . $this->datos['logo'] . '"  height="100" border="0" alt="imagen usuario">';
                        } else { }
                        ?>
                    </div>
                    </p>
                    <? }else{ ?>
                    <p>

                    	<label>Imagen</label>
                    	<input id="uploadImage" name="uploadImage" type="file" />
                    </p>
                    <? 
					}
					if(strlen($this->datos['logo']>0)){
					?>
                    <p>
                        <label>¿Eliminar imagen?</label>
                    <input type="checkbox" value="1" name="eliminar"/>
                    </p>
                    <? } ?>
					<br />
			<br />
                    <p>
                        <label style="font-size: 16px; text-decoration: underline;">Permisos</label>
						<div class="clearfix"></div>
						<br />
						<p>
							<input type="checkbox" name="ve_informe" value="1" <?php if (isset($this->datos['ve_informe']) && $this->datos['ve_informe']==1 ) echo "checked"; ?>> Permiso para ver Informe<br>
                        </p>
						<p>
							<input type="checkbox" name="ve_paleta" value="1" <?php if (isset($this->datos['ve_paleta']) && $this->datos['ve_paleta']==1)  echo "checked"; ?>> Permiso para ver Paleta<br>
                        </p>
						<p>
							<input type="checkbox" name="ve_orden" value="1" <?php if (isset($this->datos['ve_orden']) && $this->datos['ve_orden']==1) echo "checked"; ?>> Permiso para ver Orden<br>
                        </p>
						<p>
							<input type="checkbox" name="ve_precio" value="1" <?php if (isset($this->datos['ve_precio']) && $this->datos['ve_precio']==1) echo "checked"; ?>> Permiso para ver Precio<br>
						</p>
                    <p>
                        <input type="hidden" name="rol" value="1"/>
                    </p>


                    <p>
                        <input type="submit" value="ENVIAR"/>
                    </p>
                </form>
				</div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
<?php else: ?>


<?php endif; ?>