<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>ADMINISTRADOR DE USUARIOS</header>
				<div class="column_left">
					<p><a href="<?php echo BASE_URL; ?>usuario/crear">CREAR USUARIO</a></p>
					<p><a href="<?php echo BASE_URL; ?>usuario/lista">VER TODOS LOS USUARIOS</a></p>
				</div>
				<div class="column_center">
					<p>Desde esta vista se puede administrar los usuarios del sistema, los permisos para ver informes, estado de ordenes y paleta de precios.</p>

				</div>
			</div>
		</div>
        <div class="clear"></div>
    </section>
<?php else: ?>


<?php endif; ?>