<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>LISTA DE USUARIOS</header>
                <p><a href="<?php echo BASE_URL; ?>usuario">VOLVER</a></p>
                <?php if (isset($this->usuarios) && count($this->usuarios)) : ?>
                    <table>
                        <tr>
                            <td>NOMBRE</td>
                            <td>USUARIO</td>
                            <td>EMAIL</td>
                            <td>EDITAR</td>
                            <td>ELIMINAR</td>
                            <td>CAMBIAR PASSWORD</td>
                        </tr>
                        <?php for ($i = 0; $i < count($this->usuarios); $i++): ?>
                            <tr>
                                <td><?php echo $this->usuarios[$i]['nombre']; ?></td>
                                <td><?php echo $this->usuarios[$i]['usuario']; ?></td>
                                <td><?php echo $this->usuarios[$i]['email']; ?></td>
                                <td><a href="<?php echo BASE_URL . 'usuario/editar/' . $this->usuarios[$i]['id']; ?>">EDITAR</a>
                                </td>
                                <td><a href="<?php echo BASE_URL . 'usuario/eliminar/' . $this->usuarios[$i]['id']; ?>">ELIMINAR</a>
                                </td>
                                <td><a href="<?php echo BASE_URL . 'usuario/pass/' . $this->usuarios[$i]['id']; ?>">CAMBIAR
                                        PASSWORD</a></td>
                            </tr>
                        <?php endfor; ?>
                    </table>
                <?php else: ?>
                    <p><strong>No hay usuarios!</strong></p>
                <?php endif; ?>
                <p class="paginador">
                    <?php if (isset($this->paginacion)) echo $this->paginacion; ?>
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </section>
<?php else: ?>
<?php endif; ?>