<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>CAMBIAR PASSWORD USUARIO</header>
                <p><a href="<?php echo BASE_URL; ?>usuario/lista">VOLVER</a></p>
                <div class="column_left"></div>
				<div class="column_center">
				<p>
                    Estas cambiando los datos del usuario <?=$this->datos['nombre']?>
                </p>
                <form name="form1" method="post" action="">
                    <input type="hidden" value="1" name="guardar"/>
                    <p>
                        <label>Password: </label>
                        <input type="password" name="pass" value=""/>
                    </p>

                    <p>
                        <label>Confirmar: </label>
                        <input type="password" name="confirmar" value=""/>
                    </p>

                    <p>
                        <input type="submit" value="ENVIAR"/>
                    </p>
                </form>
				</div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
<?php else: ?>
<?php endif; ?>