<?php if(Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>CREAR FECHA</header>
                <p><a href="<?php echo BASE_URL; ?>fecha">VOLVER</a></p>
                <form name="form1" method="post" action=""  AUTOCOMPLETE="off">
                    <input type="hidden" value="2" name="enviar" />
                    <p>
                        <label>AGREGAR FECHA: </label>
                        <select class="" id="anho" name="anho">
                            <option value="">SELECCIONAR FECHA</option>
                            <?php
                            $anoActual = (int) date("Y");
                            $anoDesde = $anoActual- 10;

                            for ($i=$anoActual; $anoDesde <= $i; $i--) {
                                echo('<option value="'.$i.'">'.$i.'</option>');
                            }
                            ?>
                        </select>
                        <select class="" id="mes" name="mes">
                            <option value="">SELECCIONAR MES</option>
                            <?php
                            for ($i=1; $i<=12; $i++) {
                                if($i<10) echo('<option value="0'.$i.'">0'.$i.'</option>');
                                else echo('<option value="'.$i.'">'.$i.'</option>');
                            }
                            ?>
                        </select>

                        <input type="submit" value="ENVIAR" />
                    </p>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </section>
<?php else: ?>


<?php endif; ?>
