<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>ADMINISTRADOR DE FECHA</header>

                <p><a href="<?php echo BASE_URL; ?>fecha/crear">CREAR FECHA</a>
                <p><a href="<?php echo BASE_URL; ?>fecha/lista">LISTAR FECHA</a></p>
            </div>

        </div>
        <div class="clear"></div>
    </section>
<?php else: ?>


<?php endif; ?>