<?php if (Session::accesoViewEstricto(array('admin'))): ?>
    <section class="cont">
        <div class="col">
            <div class="bloque">
                <header>LISTA DE FECHAS</header>
                <p><a href="<?php echo BASE_URL; ?>fecha">VOLVER</a></p>
                <?php if (isset($this->fechas) && count($this->fechas)) : ?>
                    <table>
                        <tr>
                            <td>FECHAS</td>
                            <td>ELIMINAR</td>

                        </tr>
                        <?php for ($i = 0; $i < count($this->fechas); $i++): ?>
                            <tr>
                                <td>
                                    <?php echo $this->fechas[$i]['fecha']; ?>
                                </td>
                                <td>
                                    <a href="<?php echo BASE_URL . 'fecha/eliminar/' . $this->fechas[$i]['fecha'].'/' ?>">ELIMINAR</a>
                                </td>

                            </tr>
                        <?php endfor; ?>
                    </table>
                <?php else: ?>
                    <p><strong>No hay fechas!</strong></p>
                <?php endif; ?>
                <p class="paginador">
                    <?php if (isset($this->paginacion)) echo $this->paginacion; ?>
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </section>
<?php else: ?>
<?php endif; ?>
